.svg-icon{
    forced-color-adjust: none;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    display: inline-flex;
    transition: all .5s;
}
// 아이콘 mixin 정의
@mixin icon-style($icon-url, $width: 2.7rem, $height: 2.7rem) {
    -webkit-mask-image: url($icon-url);
    mask-image: url($icon-url);
    width: $width;
    height: $height;
}

.ico-guide{
    @include icon-style('@/assets/images/icon/ico-guide.svg', 24px, 24px);
    background-color: #196DFF;
}
.ico-zoom-in{
    @include icon-style('@/assets/images/icon/ico-zoom-in.svg', 24px, 24px);
    background-color: #555555;
}
.ico-zoom-out{
    @include icon-style('@/assets/images/icon/ico-zoom-out.svg', 24px, 24px);
    background-color: #555555;
}
.ico-distance{
    @include icon-style('@/assets/images/icon/ico-distance.svg', 24px, 24px);
    background-color: #555555;
}
.ico-area{
    @include icon-style('@/assets/images/icon/ico-area.svg', 24px, 24px);
    background-color: #555555;
}

.ico-height{
    @include icon-style('@/assets/images/icon/ico-height.svg', 24px, 24px);
    background-color: #555555;
}
.ico-area2{
    @include icon-style('@/assets/images/icon/ico-area2.svg', 24px, 24px);
    background-color: #555555;
}
.ico-measurement{
    @include icon-style('@/assets/images/icon/ico-measurement.svg', 24px, 24px);
    background-color: #555555;
}
.ico-sea1{
    @include icon-style('@/assets/images/icon/ico-sea1.svg', 24px, 24px);
    background-color: #555555;
}
.ico-sea2{
    @include icon-style('@/assets/images/icon/ico-sea2.svg', 24px, 24px);
    background-color: #555555;
}
.ico-tide{
    @include icon-style('@/assets/images/icon/ico-tide.svg', 24px, 24px);
    background-color: #555555;
}
.ico-coordinate{
    @include icon-style('@/assets/images/icon/ico-coordinate.svg', 24px, 24px);
    background-color: #555555;
}
.ico-screen-save{
    @include icon-style('@/assets/images/icon/ico-screen-save.svg', 24px, 24px);
    background-color: #555555;
}
.ico-print{
    @include icon-style('@/assets/images/icon/ico-print.svg', 24px, 24px);
    background-color: #555555;
}

.ico-arrow{
    @include icon-style('@/assets/images/icon/ico-arrow.svg', 24px, 24px);
    background-color: #C6C6C6;
}
.ico-info{
    @include icon-style('@/assets/images/icon/ico-info.svg', 14px, 14px);
    background-color: #C6C6C6;
}

// 레이어 아이콘 A 그룹 (01~15)
@for $i from 1 through 15 {
    $num: if($i < 10, '0#{$i}', '#{$i}');
    .ico-layer-a-#{$num} {
        @include icon-style('@/assets/images/icon/ico_layer_a_#{$num}.svg', 32px, 32px);
        background-color: #555555;
    }
}

// 레이어 아이콘 B 그룹 (02~15)
@for $i from 2 through 15 {
    $num: if($i < 10, '0#{$i}', '#{$i}');
    .ico-layer-b-#{$num} {
        @include icon-style('@/assets/images/icon/ico_layer_b_#{$num}.svg', 32px, 32px);
        background-color: #555555;
    }
}

// 레이어 아이콘 C 그룹 (03~15)
@for $i from 3 through 15 {
    $num: if($i < 10, '0#{$i}', '#{$i}');
    .ico-layer-c-#{$num} {
        @include icon-style('@/assets/images/icon/ico_layer_c_#{$num}.svg', 32px, 32px);
        background-color: #555555;
    }
}

// 레이어 아이콘 D 그룹 (03~15)
@for $i from 3 through 15 {
    $num: if($i < 10, '0#{$i}', '#{$i}');
    .ico-layer-d-#{$num} {
        @include icon-style('@/assets/images/icon/ico_layer_d_#{$num}.svg', 32px, 32px);
        background-color: #555555;
    }
}


@for $i from 3 through 15 {
    $num: if($i < 10, '0#{$i}', '#{$i}');
    .ico-layer-e-#{$num} {
        @include icon-style('@/assets/images/icon/ico_layer_e-#{$num}.svg', 32px, 32px);
        background-color: #555555;
    }
}


@for $i from 3 through 15 {
    $num: if($i < 10, '0#{$i}', '#{$i}');
    .ico-layer-e-#{$num} {
        @include icon-style('@/assets/images/icon/ico_layer_f-#{$num}.svg', 32px, 32px);
        background-color: #555555;
    }
}

@for $i from 3 through 15 {
    $num: if($i < 10, '0#{$i}', '#{$i}');
    .ico-layer-e-#{$num} {
        @include icon-style('@/assets/images/icon/ico_layer_g-#{$num}.svg', 32px, 32px);
        background-color: #555555;
    }
}