<div class="map-topright">
    <div class="map-control-row">
        <button class="btn-control-popup btn-control" type="button" data-option-target="optionPanel1" aria-pressed="false">
            <i class="svg-icon ico-guide" aria-hidden="true"></i>
            <div class="btn-tooltip">안내</div>
        </button>
    </div>

    <div class="map-control-row">
        <button class="zoom-btn btn-control" id="zoom-in"><i class="svg-icon ico-zoom-in"></i>
            <div class="btn-tooltip">확대</div>
        </button>
        <button class="zoom-btn btn-control" id="zoom-out"><i class="svg-icon ico-zoom-out"></i>
            <div class="btn-tooltip">축소</div>
        </button>
    </div>

    <div class="map-control-row">
        <button class="zoom-btn btn-control"><i class="svg-icon ico-distance" aria-hidden="true"></i>
            <div class="btn-tooltip">거리</div>
        </button>
        <button class="zoom-btn  btn-control"><i class="svg-icon ico-area" aria-hidden="true"></i>
            <div class="btn-tooltip">면적</div>
        </button>
        <button class="zoom-btn  btn-control"><i class="svg-icon ico-height" aria-hidden="true"></i>
            <div class="btn-tooltip ">높이 측정</div>
        </button>
        <button class="zoom-btn btn-control"><i class="svg-icon ico-area2" aria-hidden="true"></i>
            <div class="btn-tooltip">단면 측정</div>
        </button>
        <button class="zoom-btn btn-control"><i class="svg-icon ico-measurement" aria-hidden="true"></i>
            <div class="btn-tooltip">체적 측정</div>
        </button>
        <button class="zoom-btn btn-control"><i class="svg-icon ico-sea1" aria-hidden="true"></i>
            <div class="btn-tooltip">수심 측정</div>
        </button>
        <button class="zoom-btn btn-control"><i class="svg-icon ico-sea2" aria-hidden="true"></i>
            <div class="btn-tooltip">선
            <div class="btn-tooltip">조시차/조고비</div>
        </button>
        <button class="zoom-btn btn-control"><i class="svg-icon ico-coordinate" aria-hidden="true"></i>
            <div class="btn-tooltip">입력지점 측정</div>
        </button>
    </div>

    <div class="map-control-row">
        <button class="zoom-btn btn-control"><i class="svg-icon ico-screen-save" aria-hidden="true"></i>
            <div class="btn-tooltip">화면 저장</div>
        </button>
        <button class="zoom-btn btn-control"><i class="svg-icon ico-print" aria-hidden="true"></i>
            <div class="btn-tooltip">프린트</div>
        </button>
    </div>
</div>