<section class="viewer-app__panel panel--layer is-active" data-panel="layer">
    <div class="viewer-app__panel__inner">
        <header class="panel__header mbb">
            <div class="panel__header__inner">
                <h2 class="header__title">레이어</h2>
                <button class="header__close-btn" aria-label="패널 닫기">
                    <img src="./assets/images/header/panel-colse.png" alt="닫기버튼 이미지" />
                </button>
            </div>
            <p class="header__intro">
                해양공간정보를 3차원 지도에서 확인할 수 있습니다.
            </p>
        </header>
        <div class="panel--cont layer" data-simplebar>
            <div class="layer-object-info">
                <div class="accordion is-open">
                    <div class="accordion__header">
                        <span class="icon-box"><img src="./assets/images/header/ico-layer.png" alt="해양 객체 정보 아이콘" /></span>
                        <span class="accordion__title">해양 객체 정보</span>
                        <button class="accordion__arrow" aria-label="아코디언 열기/닫기"></button>
                    </div>
                    <div class="accordion__body">
                        <div class="object-type-select">
                            <button class="object-type-btn is-active">
                                <span class="icon"><img src="./assets/images/header/ico-analysis.png" alt="양식장" /></span>
                                양식장
                                <span class="info-icon" title="정보"><img src="./assets/images/header/Vector.png" alt="정보" /></span>
                            </button>
                            <button class="object-type-btn">
                                <span class="icon"><img src="./assets/images/header/ico-nav01.png" alt="어로 시설" /></span>
                                어로 시설
                                <span class="info-icon" title="정보"><img src="./assets/images/header/Vector.png" alt="정보" /></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion__header">
                        <input type="checkbox" id="depth-info" />
                        <label for="depth-info">수심정보</label>
                        <button class="accordion__arrow" aria-label="아코디언 열기/닫기"></button>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion__header">
                        <input type="checkbox" id="sea-info" />
                        <label for="sea-info">해수면 정보</label>
                        <button class="accordion__arrow" aria-label="아코디언 열기/닫기"></button>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion__header">
                        <input type="checkbox" id="reclamation-info" />
                        <label for="reclamation-info">조간대 재질</label>
                        <span class="info-icon" title="정보"><img src="./assets/images/header/Vector.png" alt="정보" /></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>