<section class="viewer-app__panel panel--analysis" data-panel="analysis">
<div class="viewer-app__panel__inner">
    <header class="panel__header mbb">
        <div class="panel__header__inner">
            <h2 class="header__title">분석 시뮬레이션</h2>
            <button class="header__close-btn" aria-label="패널 닫기">
                <img src="./assets/images/header/panel-colse.png" alt="닫기버튼 이미지" />
            </button>
        </div>
        <p class="header__intro">
            다양한 해양환경을 3차원 형태로 가시화하여 해양정보에 대한 시뮬레이션 및 분석을 할 수 있습니다.
        </p>	
    </header>
    <div class="panel--cont observe" data-simplebar>
        데이터 넣는 부분  -  스크롤 기능 
    </div>
</div>
</section>