<section class="viewer-app__panel panel--observe" data-panel="observe">
    <div class="viewer-app__panel__inner">
        <header class="panel__header mbb">
            <div class="panel__header__inner">
                <h2 class="header__title">해양관측</h2>
                <button class="header__close-btn" aria-label="패널 닫기">
                    <img src="./assets/images/header/panel-colse.png" alt="닫기버튼 이미지" />
                </button>
            </div>
            <p class="header__intro">
                실시간 관측(예측) 정보를 통한 조위와 함께<br>기타 관측정보(풍향, 기온 등)를 제공합니다.
            </p>	
        </header>
        <div class="panel--cont observe" data-simplebar>
            데이터 넣는 부분  -  스크롤 기능
        </div>
    </div>
</section>