<section class="viewer-app__panel panel--viewer" data-panel="home">
    <div class="viewer-app__panel__inner">
        <header class="panel__header">
            <div class="panel__header__inner">
                <h2 class="header__title">뷰어 홈</h2>
                <button class="header__close-btn" aria-label="패널 닫기">
                    <img src="./assets/images/header/panel-colse.png" alt="닫기버튼 이미지" />
                </button>
            </div>
            <p class="header__intro">
                디지털트윈 기반의 업무환경 마련과 3차원 공간정보를 활용할 수 있는
                시스템을 제공합니다.
            </p>	
        </header>
        <div class="search-wrap mbb">
            <div role="search" class="search-container">
                <label for="search-input" class="sr-only">검색어 입력</label>
                <input type="search" id="search-input" name="q" placeholder="검색어를 입력해주세요." aria-label="검색어 입력" required>
                <button type="submit" aria-label="검색">
                    <img src="./assets/images/header/search.png" alt="검색버튼">
                </button>
            </div>
        </div>
        <div class="panel--cont viewer" data-simplebar>
            <div class="panel--viewer__con">
                <div class="panel--viewer__con__item layer" data-target="layer"  role="button" tabindex="0" aria-label="레이어 패널 열기">
                    <div class="item__head">
                        <h3>레이어</h3>
                    </div>
                    <div class="item__con">
                        <p>
                            해양 공간 정보를 3차원 지도에서 확인할 수 있습니다. 지명정보, 육상 시설정보, 해양객체정보 등 다양한 레이어를 제공합니다.
                        </p>
                    </div>
                </div>
                <div class="panel--viewer__con__item observe" data-target="observe" role="button" tabindex="0" aria-label="해양관측 패널 열기">
                    <div class="item__head">
                        <h3>해양관측</h3>
                    </div>
                    <div class="item__con">
                        <p>
                            실시간 관측(예측) 정보를 제공합니다. 조위에 따른 해수면 변동과 함께 여러 관측정보를 실시간으로 확인할 수 있습니다.
                        </p>
                    </div>
                </div>
                <div class="panel--viewer__con__item analysis"  data-target="analysis" role="button" tabindex="0" aria-label="분석/시뮬레이션 패널 열기">
                    <div class="item__head">
                        <h3>분석 / 시뮬레이션</h3>
                    </div>
                    <div class="item__con">
                        <p>
                            다양한 해양관련 분석, 시뮬레이션 서비스를 제공합니다.
                        </p>
                        <dl class="first">
                            <dt>- 조간대 분석</dt>
                            <dd>조석예보 정보를 활용하여 조간대 지역의 고조 및<br> 저조를 시각화하여 제공합니다.</dd>
                        </dl>
                        <dl>
                            <dt>- 선박연안접근 가능 구역 분석</dt>
                            <dd>선박(용도, 톤수)별 연안 접근 가능 구역을 시각화합니다.</dd>
                        </dl>
                        <dl>
                            <dt>- 수위 예측선</dt>
                            <dd>조시차, 조고비를 반영한 실시간(예측) 수위 예측선을 수심 깊이에 따라 구분하여 시각화하여 제공합니다.</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>