<aside class="viewer-app__sidebar" aria-label="사이드 내비게이션">
    <h1 class="logo"><a href="#"><img src="./assets/images/header/ci.png" alt="3차원 해양정보 정보 로고"></a></h1>
    <nav class="viewer-app__nav" aria-label="메인 메뉴">
        <ul class="nav__list">
            <li class="nav__item nav__item--active">
                <a href="#" class="nav__link" data-target="home" aria-current="page">
                    <span class="nav__icon icon-home" aria-hidden="true"></span>
                    <span class="nav__label">뷰어 홈</span>
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link" data-target="layer">
                    <span class="nav__icon icon-layer" aria-hidden="true"></span>
                    <span class="nav__label">레이어</span>
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link" data-target="observe">
                    <span class="nav__icon icon-observe" aria-hidden="true"></span>
                    <span class="nav__label">해양관측</span>
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link" data-target="analysis">
                    <span class="nav__icon icon-analysis" aria-hidden="true"></span>
                    <span class="nav__label">분석<br>시뮬레이션</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="viewer-app__footer">
        <button class="footer__user-btn" aria-label="사용자 메뉴">
            <span class="icon-user" aria-hidden="true"><img src="./assets/images/header/ico-user.png" alt="유저 아이콘"></span>
        </button>
        <div class="footer__logo">
            <img src="./assets/images/header/footer-logo.png" alt="국립해양조사원 로고" />
        </div>
    </div>
</aside>